.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 12px;
  background-color: #003580;
}

.fLists {
  width: 1024px;
  display: flex;
  justify-content: space-between;
  margin: 3rem;
}

.fList {
  list-style: none;
  padding: 0;
}

.fListItem {
  margin-bottom: 10px;
  color: #ffffff;
  cursor: pointer;
}
