.form-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.form-control {
  display: flex;
  flex-direction: column;
  width: 300px;
  font-family: "Lato";
}
.form-input {
  padding: 0.5rem;
}
.form-input:focus {
  outline-color: rgb(0, 115, 255);
}
.form-control button {
  margin-top: 1rem;
  padding: 1rem;
  font-family: "Lato";
  cursor: pointer;
  border: none;
  background-color: rgb(159, 193, 181);
  border-radius: 0.2rem;
}
.form-control button:hover {
  background-color: green;
  color: white;
  opacity: 0.9;
}
.form-control label {
  display: flex;
  justify-self: flex-start;
}
